name: build
on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles(
            'gradle/wrapper/gradle-wrapper.properties',
            '**/*.gradle*',
            '**/gradle.properties'
            ) }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build fabricWrapper subproject
        run: ./gradlew :fabricWrapper:build --stacktrace

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: fabricWrapper/build/libs/