name: Build
on:
  workflow_call:
    inputs:
      release:
        type: boolean
        required: false
        default: false
      target_subproject:
        description: see release.yml, leave it empty to build all
        type: string
        required: false
        default: ''

env:
  IS_THIS_RELEASE: false

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'SKIP') }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle dependencies (public caches)
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./.gradle
          # 固定缓存键（公共缓存），不依赖文件哈希
          key: ${{ runner.os }}-gradle-common
          # 恢复键与主键一致，确保优先使用公共缓存
          restore-keys: |
            ${{ runner.os }}-gradle-common

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Get latest hash
        run: echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build (versionpack)
        run: ./gradlew :fabricWrapper:build --stacktrace

      - name: Upload artifacts (with file structures)
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: versions/*/build/libs/

      - name: Upload versionpack jar
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: fabricWrapper/build/libs/
