name: Dev Builds

on:
  push:
    paths:
      - "*.gradle"
      - "gradle.properties"
      - "src/**"
      - "versions/**"
      - ".github/**"
  pull_request:

env:
  IS_THIS_RELEASE: false

jobs:
  build:
    uses: ./.github/workflows/build.yml